
@import url('https://fonts.googleapis.com/css2?family=Noto+Serif:wght@200&display=swap');
@import url('https://fonts.cdnfonts.com/css/fantasque-sans-mono');

:root{
    --scroll-offset: 20px;
    --primaryfont: "Fantasque Sans Mono", serif;
    --secondaryfont: "Noto Serif", serif;
    --italicizedfont: "Noto Serif", sans-serif;
    --backgroundprimary: #f2e5bc;
    --backgroundsecondary: #ebdbb2;
    --backgroundtertiary: #d5c4a1;
    --accentprimary: #427b58;
    --accentsecondary: #f44336;
    
    --textlighter: #7c6f64;
    --textlight: #665c54;
    --textdark: #504945;
    --textdarker: #282828;

    --linkcolour: #458588;

}





html {
    scroll-snap-type: y proximity;
    scroll-behavior: smooth;
}
body { 
    scroll-snap-type: y proximity;
    display:block;
    font-family: var(--primaryfont), serif;
    color: var(--textdarker);
    font-size: 14pt;
    background-color: var(--backgroundtertiary);
}



h1, h2, h3, h4, h5{
    font-family: var(--secondaryfont), serif;
    font-style: italic;
    color: var(--textdark);
}
h4, h5{
    color: var(--textlight);
}

h1{
    font-size: 4em;
    margin: 0.25em;
    color: var(--accentprimary);
    letter-spacing: 5px;
    word-spacing: 7px;
    font-weight: 100;
}

h3{
    font-size: 1.5em;
    margin: 0.25em;
}

h4, h5{
    margin: 0.25em;
}


a{
    color: var(--linkcolour)
}

section {
    margin: 10px;
    margin-bottom: 50px;
    background-color: var(--backgroundprimary);
    padding: 15px;
    scroll-snap-align: top;
    border-radius: 15px;

}
/*
section:nth-child(even) {
    background-color: var(--backgroundsecondary);
}
*/





.title-header{
    background-color: var(--backgroundsecondary);
    border-radius: 15px;

}


#skills-grid{
    background-color: var(--backgroundsecondary);
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-column-gap: 10px;
    border-radius: 15px;
    padding: 10px;
}

#projects-wrapper{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-column-gap: 20px;
    grid-row-gap: 20px;
}

.skill-list{
    background-color: var(--backgroundprimary);
    border:2px solid var(--accentprimary);
    border-radius: 15px;
    padding: 10px;
    margin: 5px;
    -ms-transition: 0.1s;
    -o-transition: 0.1s;
    -moz-transition: 0.1s;
    -webkit-transition: 0.1s; 
    transition: 0.1s; 
    box-shadow: inset 0px 0px 2px 1px var(--textlighter);
}

.skill-list:hover{
    -ms-transform:scale(1.1);
    -o-transform:scale(1.1);
    -moz-transform:scale(1.1);
    -webkit-transform:scale(1.1);
    -webkit-transform:scale(1.1);
    transform:scale(1.1);
    border-radius: 15px;
    box-shadow:  0px 0px 2px 1px var(--textlighter);

}

.project{
    background-color: var(--backgroundsecondary);
    border:2px solid var(--accentprimary);
    border-radius: 15px;
    padding-bottom:10px;
    display:table;
    padding: 10px;
    -ms-transition: 0.1s;
    -o-transition: 0.1s;
    -moz-transition: 0.1s;
    -webkit-transition: 0.1s; 
    transition: 0.1s; 
    box-shadow: inset 0px 0px 5px 3px var(--textlighter);

}

.project:hover{
    -ms-transform:scale(1.1);
    -o-transform:scale(1.1);
    -moz-transform:scale(1.1);
    -webkit-transform:scale(1.1);
    -webkit-transform:scale(1.1);
    transform:scale(1.1);
    border-radius: 15px;
    box-shadow:  0px 0px 10px 3px var(--textlighter);

}

.project:nth-child(even){
    background-color: var(--backgroundprimary);

}

.more-content {
    display: none;
    /* You can set a max-height here to control the initial visible content */
  }
  
  /* Toggle the display of example content when checkbox is checked */
  .toggle-more-less:checked ~ .more-content {
    display: block;
  }
  
  .more-less-button {
    cursor: pointer;

  }
  
  /* Style the label to look like a button */
  .more-less-button::before {
    color: var(--textlight);
    content: "↓ More ↓";
  }
  
  /* Change the content to 'Less' when the checkbox is checked */
  .toggle-more-less:checked + .more-less-button::before {
    color: var(--textdarker);
    content: "↑ Less ↑";
  }

  input{
    display: none;
  }

img{
    max-width: 99%;
    margin-top: 20px;
    border: 2px solid var(--textlighter);
    border-radius: 15px;
}

i {
    font-size: 22pt;
    color: var(--textlight);
    vertical-align:middle;
}

.work-experience-center{
    display: grid;
    grid-template-columns: 5% 1fr 5%;
    grid-template-rows: 1fr;
    grid-column-gap: 0px;
    grid-row-gap: 0px; 
}

.main{
    margin-left: 10px;
    margin-right: 10px;
}

.navbar{
    background-color: var(--backgroundsecondary);
    border: 3px solid var(--textlighter);
    width: 100%;
    z-index: 10;
    
    text-align: center;
    align-items: center;

    display: grid;
    grid-template-columns: 1fr 4fr 1fr; 
    grid-template-rows: 1fr;
    grid-column-gap: 0px;
    grid-row-gap: 0px; 


    position: fixed;
    bottom: 0;
    left: 0;
}

.navbar h1{
    font-size: 1.25em;

    
}

@media screen and (max-width: 600px) {
    h1{
        font-size: 2em;
    }
    h2{
        font-size: 1em;
    }
    h3{
        font-size: 1em;
    }
    body{
        font-size: 13pt;
    }
    i{
        font-size: 15pt;
    }

    #projects-wrapper{
        display: grid;
        grid-template-columns: repeat(1, 1fr);
        grid-column-gap: 20px;
        grid-row-gap: 20px;
    }
    .navbar {
      height: auto;
      display: block;
    }

    .navbar h1{
        display: none;
    }

  }



.image-carousel{
    margin: auto;
    display: grid;
    place-items: center;  
    overflow: hidden; 
    position: relative;
    border-top: 2px solid var(--textlighter);
    border-bottom: 2px solid var(--textlighter);
    background-color: var(--backgroundsecondary);
    
}

.slide-track{
    display: flex;
    width: calc(300px * 10);
    animation: scroll 30s linear infinite;
}

.slide {
    max-width: 500px;
    display: flex;
    align-items: center;
    padding: 15px;
}

.image-slide{
    width: 300px;
    margin-top: 0px;
}


.image-carousel::before,
.image-carousel::after{
    background: linear-gradient(to right, var(--backgroundprimary) 0%, rgba(255,255,255,0) 100%);
    content: "";
    height: 100%;
    position: absolute;
    width: 5%;
    z-index: 2;
}

.image-carousel::before{
    left: 0;
    top: 0;
}

.image-carousel::after{
    right: 0;
    top: 0;
    transform: rotate(180deg);
}

@keyframes scroll {
    0%{
        transform: translateX(0);
    }
    100%{
        transform: translateX(calc(-300px * 5));
    }
    
}




















