@import url('https://fonts.googleapis.com/css2?family=IBM+Plex+Sans&family=Lora:ital,wght@0,400..700;1,400..700&display=swap');

:root{
    --backgroundprimary: #f2efdf;
    --backgroundsecondary: #f2efdfe6;
    --backgroundtertiary: #f4ebd4ee;
    --accentprimary: #35a77c;
    
    --textlighter: #6d767b;
    --textlight: #3a464c;
    --textdark: #333c43;
    --textdarker: #293136;

    --linkcolour: #35a77c;

    --primaryfont: "Lora", serif;
    --secondaryfont: "Lora", serif;

    --icon_carousel_width: calc(2em + 1rem);
    --icon_carousel_size: 20;

    --title0:#293136;
    --title1:#d699b6;
    --title2:#7fbbb3;
    --title3:#a7c080;
}


html {
    scroll-snap-type: y proximity;
    scroll-behavior: smooth;
    overflow: hidden
}

body { 
    scroll-snap-type: y proximity;
    display:block;
    font-family: var(--primaryfont), serif;
    color: var(--textdarker);
    font-size: 1.2rem;
    background-color: var(--backgroundprimary);
    margin: 0;
    padding: 0;
}

.navbar{
    background: var(--backgroundprimary);
    padding: 1em;
    box-sizing: border-box;
    position: fixed;
    right: 0;
    bottom: 0;
    width: 60vw;
    height: 16vh;
    display: grid;
    grid-template-columns: 1fr 8fr 1fr;
    grid-template-rows: 1fr;
    grid-column-gap: 0px;
    grid-row-gap: 0px;
    align-items: center;
}

.navbar-links{
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    gap: 0.5em;
    align-items: right;
}

.navbar-item{
    display: flex;
    align-items: center;
}

.navbar a{

    margin-left: 0.8em;
}
 
.navbar i {
    font-size: 1.5em;
}

.pfp{
    object-fit:contain;
    border: 3px solid var(--accentprimary);
    border-radius: 50%;
    transition: 2s;
    margin-top: 0;
}

.pfp:hover{
    transform: rotate(720deg);
}

#resume-icon{
    margin: 0;
    width: 1.5em;
    height: 1.5em;
    display: inline;
    border: none;
    border-radius: 0;
}

.title-elem{
    animation: rainbow 1.5s linear infinite;
}

@keyframes rainbow {
    0% { text-shadow: none; }
    20% { text-shadow: 3px 3px 0 var(--title0) }
    27.5% { text-shadow: 3px 3px 0 var(--title0), 6px 6px 0 var(--title1); }
    35% { text-shadow: 3px 3px 0 var(--title0), 6px 6px 0 var(--title1), 9px 9px 0 var(--title2); }
    42.5% { text-shadow: 3px 3px 0 var(--title0), 6px 6px 0 var(--title1), 9px 9px 0 var(--title2), 12px 12px 0 var(--title3)}
    50% { text-shadow: 3px 3px 0 var(--title0), 6px 6px 0 var(--title1), 9px 9px 0 var(--title2), 12px 12px 0 var(--title3)}    
}


.main-container {
    display: grid;
    grid-template-columns: 40vw 60vw;
    grid-template-rows: 1fr;
    grid-column-gap: 0px;
    grid-row-gap: 0px;

}

.experience{
    background: var(--backgroundprimary);
    padding: 1em;
    margin-top: 0;
    padding-top: 0;
    box-sizing: border-box;
    position: fixed;
    width: 40vw;
    height: 100vh;
    overflow-y: scroll;
}

.experience h2{
    text-align: center;
    text-decoration-line: underline;
    text-decoration-color: var(--accentprimary);
}


#skills-wrapper{
    margin: auto;
    display: flex;
    place-items: center;  
    position: relative;
    align-items: center;
    text-align: center;
    overflow: hidden;

}

.icon-slide-track {
    display: flex;
    width: calc(var(--icon_carousel_width) * var(--icon_carousel_size) * 2);
    animation: scroll 20s linear infinite;
}

.icon-slide {
    padding: 0 0.5rem;
}

@keyframes scroll {
    0% {
        transform: translateX(0);
    }
    100% {
        transform: translateX(calc(-1 * var(--icon_carousel_width) * var(--icon_carousel_size)));

    }
}

.work-experience-wrapper{
    border: 2px solid var(--textdarker);
    margin: 1em 0;
    border-radius: 15px;
    background-color: var(--backgroundtertiary);
}

.dropdown-item{
    cursor: pointer;
}

.work-experience-top{
    display: grid;
    grid-template-columns: 8% 80% 8%;
    grid-template-rows: 1fr;
    grid-column-gap: 1%;
    grid-row-gap: 0px;
    justify-content: center;
    text-align: center;
}
.work-experience-top img{
    align-items: center;
    justify-content: center;
    align-self: center;
    margin: 0;
}

.dropdown-arrow{
    display: flex;
    align-items: center;
    vertical-align: center;
    justify-content: center;
    font-size: 1.8em;
    transition:0.5s;
    user-select: none;
}

.dropdown-content{
    max-height: 0;
    overflow: hidden;
    padding: 0px 10px 0px 10px;
    transition: 0.3s ease;
}

.hackathon-content{
    background-color: var(--backgroundtertiary);
    margin: 1em 4em;
    border: 2px solid var(--textdarker);
    padding: 0.6em 1em;
    border-radius: 15px;
    text-align: center;
}


.projects{
    position: absolute;
    width: 60vw;
    right: 0;
}

.projects-header{
    position: fixed;
    width: 60vw;
    height: 8vh;
    background-color: var(--backgroundprimary);
    text-align: center;
    z-index: 8;
    text-decoration-line: underline;
    text-decoration-color: var(--accentprimary);
}

#hamburger{
    display: none;
}

#x-button {
    display: none;
}

.project-container{
    margin: 0;
    padding: 10vh 0 20vh 0;
  
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    gap: 50vh;
    background: url("bg.png"), var(--backgroundprimary);
}

#projects-border-corner-top{
    position: fixed;
    top: 8vh;
    width: 10px;
    height: 10px;
    border-radius: 0 0 15px 0;
    background: var(--backgroundprimary);
    z-index: 8;
}

#projects-border-corner-bot{
    position: fixed;
    bottom: 16vh;
    width: 10px;
    height: 10px;
    border-radius: 0 15px 0 0;
    background: var(--backgroundprimary);
    z-index: 8;
}
#projects-border{
    position: fixed;
    top: 8vh;
    width: 60vw;
    height: 75.6vh;
    border-left: 3px solid var(--accentprimary);
    border-top: 3px solid var(--accentprimary);
    border-bottom: 3px solid var(--accentprimary);
    border-radius: 15px 0 0 15px;
    pointer-events: none;
    z-index: 8;
    box-shadow: inset 5px 5px 30px rgba(0, 0, 0, 0.25);
}

.card-title{
    scroll-margin-block-start: 10vh;
    scroll-margin-block-end: 10vh;

}

.project-nav{
    font-family: "IBM Plex Sans", serif;
    text-align: left;
    font-size: 3em;
    display: block;
    text-decoration: none;
    color: var(--textdarker);
    transition: 0.2s;
}

.project-nav:hover{
    color: var(--accentprimary);
    transform: rotate(1deg);
}

.project-nav:nth-of-type(even):hover{
    transform: rotate(-1deg);
}


.project-card{
    border: 2px solid var(--textlighter);
    border-radius: 15px;
    width: 46vw;
    height: 48vh;
    padding: 1em;
    background-color: var(--backgroundtertiary);

    display: grid;
    grid-template-columns: 2fr 3fr;
    grid-template-rows: 1fr;
    grid-column-gap: 1em;
    grid-row-gap: 0px;

    transition: 0.1s;
    transform: rotate(var(--rotation));

    box-shadow: 5px 5px 20px rgba(0, 0, 0, 0.25);
}

.project-card:hover{
    transform: scale(1.1);
    box-shadow: 20px 20px 30px rgba(0, 0, 0, 0.25);
}

.project-content{
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 8fr 2fr;
    grid-column-gap: 1em;
    grid-row-gap: 1em;
}

.project-tech{
    display: flex;
    gap: 0.5em;
}

.project-media{
    align-self: center;
}

h1, 
h2, 
h3, 
h4, 
h5 {
    font-family: var(--secondaryfont), serif;
    color: var(--textdark);
    
}

h1{
    font-size: 5em;
    margin: 0;
    text-align: center;
    color: var(--accentprimary);
}

h3{
    font-size: 1.5em;
    margin: 0.25em;
}

h4, 
h5 {
    margin: 0.25em;
    color: var(--textlight);
}

a:not(.project-nav) {
    text-decoration: none;
    display: inline;
    position: relative;
    color: var(--linkcolour);
}
  
a:not(.project-nav)::after {
    content: '';
    position: absolute;
    width: 100%;
    transform: scaleX(0);
    height: 2px;
    bottom: 0;
    left: 0;
    background-color: var(--linkcolour);
    transform-origin: bottom right;
    transition: transform 0.15s ease-out;
}
  
a:not(.project-nav):hover::after {
    transform: scaleX(1);
    transform-origin: bottom left;
}

i {
    font-size: 2em;
    color: var(--textlight);
    vertical-align:middle;
}

img{
    max-width: 100%;
    border: 2px solid var(--textdarker);
    border-radius: 15px;
}

.mobile{
    visibility: hidden;
}

@media screen and (max-width: 1200px) {
    h1{
        font-size: 3em;
    }

    .experience{
        width: 100vw;
        z-index: 10;
        transform: translateX(-100%); /* Start off-screen to the left */
        transition: transform 0.5s ease, opacity 0.5s ease, visibility 0.5s;
    }
    
    .experience.visible {
        transform: translateX(0); /* Move into view */
    }

    .projects{
        width: 100vw;
        font-size: 0.8em;
    }

    .projects-header{
        width: 100vw;
        font-size: 1.2rem;
    }
    #projects-border{
        width: 100vw;
    }
    .project-card{
        width: 80vw;
        height: 50vh;
    }
    .project-tech{
        position: absolute;
        left: 20px;
        bottom: 20px;
    }

    .navbar{
        width: 100vw;
    }
    .navbar h1{
        font-size: 1.8em;
    }

    #hamburger{
        display: block;
        position: fixed;
        top: 0vh;
        right: 6vw;
        z-index: 12;
        
    }

}








